<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk!</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"></script>
    <script defer src="scripts/client.js"></script>
</head>

<body>
    <div class="container">
        <div class="upper-menu">
            <p id="online-cont"><span id="online">0</span> online</p>
            <a href="/">
                <img src="icons/arrow-thick-left.svg" alt="cofnij">
            </a>
            <a href="/chat">
                <img src="icons/reload.svg" alt="znajdź kogoś innego">
            </a>
        </div>
        <div class="msg-box">
           
        </div>
        <p id="typing" style="visibility: hidden;">Partner coś pisze...</p>
        <div class="inputs">
            <form id="msg-form">
                <input type="text" name="msg-input" id="msg-input" autocomplete="off">
            </form>
        </div>
    </div>
</body>

</html>