<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk!</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"></script>
    <script defer src="scripts/client.js"></script>
</head>
<body>
    <div class="container">
        <%- include('./partials/_home.ejs') %>
        <p id="test"></p>
    </div>
    <script>

    </script>
</body>
</html>